
.imageset {
    background-color: #f0f4d4;
    min-height: 92vh;
          min-width: 92vh;
          margin-bottom: 0px;
          background-size:cover;
          background-position : Top; 
           height : "101vh"
}

.welcomee {
                margin-top: 0px;
              margin-left: 160px;
              margin-bottom: 0px;
}

.welcometext {
    font-family: Darker Grotesque;
    color: #000;
    margin-top: 0px;
    margin-left: 160px;
    margin-bottom: 0px;
}

.viewMenu {
    margin-top: 380px;
}


@media (max-width: 780px) {
    .imageset {
      width: 100%;
      height: auto;
      background-size: 80%;
      background-repeat: no-repeat;
    }

    .welcometext {
        width: 55%;
        margin-left: 50px;
    }

    .viewMenu {
        margin-top: 100px;
    }

    .welcomee {
        width: 55%;
      margin-left: 50px;
      margin-bottom: 0px;
}
  }