.logout {
    width: 160px;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 16px;
    color: #942D2D;
}

.rest-name:hover {
    cursor: pointer;
}

@media (max-width: 780px) {
    .logout {
        width: 150px;
    }

    .menu-icon {
        margin-right: 40%;
        color: #942D2D;
      }
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');